@import "../../../../variables.scss";

.grid {
	&__container {
		grid-template-columns: repeat(2, 1fr);
	}

}

#date-picker__field {
	& mat-hint {
		color: get-color(accent, 500);
	}
}




.button-create-form {
	margin-top: 2rem auto;
	color: white;
}

.course-picture {
	width: 30vw;
	height: auto;
}