<ng-template [ngIf]="users && users.length != 0">
	<div> <!-- ion-list -->
		<se-user *ngFor="let user of users" [user]="user"></se-user>
	</div> <!-- ion-list -->
	<!-- <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll> -->
</ng-template>

<ng-template [ngIf]="users === null || users?.length == 0">
	<div> <!--0 ion-title -->
		<h1>Il n'y a aucun Utilisateur, pour l'instant...</h1>
		<div>Vous pouvez nous rejoindre <a [routerLink]="['/authentication']">ici</a>. N'attendez plus!</div> <!-- ion-text -->
	</div> <!-- ion-title -->
</ng-template>