#edit-user__form {

	& .grid__container {
		grid-template-columns: repeat(2, 16rem);

		& .grid__child {
			&--half {
				grid-column: auto / span 2;
			}
		}
	}


}

mat-card-title.mat-mdc-card-title {
	font-style: bold;
	font-family: "Russo One", sans-serif;
	margin:0.5rem;
	font-size: 2rem;
	color: #24265A;

}