#edit-user__form {

	& .grid__container {
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(100px, auto);

		& .grid__child {
			&--label {
				grid-column: auto / span 1;
			}
			&--field {
				grid-column: auto / span 3;
			}

			&--half {
				grid-column: auto / span 2;
			}
		}
	}
}