<section>
	@if (course) {
		<mat-card-title class="mat-card-title-create-form">Modifier le Cours</mat-card-title>
		<div class="subtitle"></div>

		<mat-card>
			<form class="grid " [formGroup]="editCourseForm" (ngSubmit)="onSubmit()">

				<mat-card-content class="grid__container">
					@if (authentication.user && authentication.user.id == course.flight.overseer.id || authentication.user?.role == UserRoles.Admin) {
						<mat-form-field class="grid__child--full-width">
							<mat-label>Intitulé du Cours</mat-label>
							<input matInput formControlName="courseName" type="text">
							@if (editCourseForm.controls['courseName'].errors) {
								<mat-error>Nom de cours <strong>invalide</strong></mat-error>
							}
						</mat-form-field>
					}
					@else {
						<mat-label class="grid__child--label">Intitulé du Cours</mat-label>
						<span class="grid__child--field">{{ course.name }}</span>
					}


					@if (authentication.user && authentication.user.role > UserRoles.Collaborator) {
						<mat-form-field class="grid__child--full-width">
							<mat-label>Professeur</mat-label>
							<mat-select matInput formControlName="teacher" [value]="teacherId">
								@if (teachers?.length == 0) {
									<mat-option disabled>Aucun Professeur Disponible</mat-option>
								}
								@else {
									@for (teacher of teachers; track teacher) {
										<mat-option [value]="teacher.id">{{teacher.firstName}} {{teacher.lastName}}</mat-option>
									}
								}
							</mat-select>
						</mat-form-field>
					}
					@else {
						<mat-label class="grid__child--label">Professeur</mat-label>
						<span class="grid__child--field">{{ course.flight.overseer.firstName }}  {{ course.flight.overseer.lastName }}</span>
					}

					<mat-form-field class="grid__child--half">
						<mat-label>Date</mat-label>

						<input matInput formControlName="date" [matDatepicker]="picker">
						<mat-hint>JJ/MM/AAAA</mat-hint>
						<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>

					<mat-form-field class="grid__child--half">
						<mat-label>Heure</mat-label>

						<input type="time" matInput formControlName="time">
					</mat-form-field>


					<mat-form-field class="grid__child--full-width">
						<mat-label>Durée</mat-label>

						<input type="time" matInput formControlName="duration">
					</mat-form-field>


					<mat-card-title class="mat-card-title-create-form-subtitle">Facturation</mat-card-title>

					<mat-form-field class="grid__child--full-width">
						<mat-label>Nom de la facture</mat-label>
						<input type="text" matInput formControlName="billName">
					</mat-form-field>

					<mat-form-field class="grid__child--full-width">
						<mat-label>Url</mat-label>
						<input type="url" matInput formControlName="billUrl">
					</mat-form-field>

					<mat-checkbox matInput  class="grid__child--full-width" formControlName="wasAcquitted" [value]="wasAcquitted.toString()">Acquitté</mat-checkbox>
				</mat-card-content>

				<mat-card-footer>
					<button mat-raised-button color="primary" class="button-create-form">Valider</button>
				</mat-card-footer>

			</form>
		</mat-card>
	}

</section>