:host > mat-card {
	height: 100%;
	width: 100%;
}


mat-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1rem;
	// :hover {
	// 	cursor: pointer;
	// 	border-radius: 20px;
	// 	background-color: #24265A;

	// 	* {
	// 		transition: all 0.5s ease-in-out;
	// 		background-color: #24265A;

	// 	}
	// 	mat-card-actions {
	// 		*{
	// 			background-color: red;
	// 		}
	// 	}
	// 	mat-card-title {
	// 		color: white;
	// 	}
	// 	mat-card-subtitle {
	// 		color: white;
	// 	}
	// }
}