<ng-template [ngIf]="user" [fullscreen]="true">
	<div> <!-- ion-header -->
		<div> <!-- ion-toolbar -->
			<div> <!-- ion-title -->
				<ng-template [ngIf]="authentication.user?.id == user.id" [ngIfElse]="notOwner">Votre Profil</ng-template>
				<ng-template #notOwner>Profile de {{ user.email }}</ng-template>
			</div> <!-- ion-title -->
		</div> <!-- ion-toolbar -->
	</div> <!-- ion-header -->

	<div> <!-- ion-content -->
		<div *ngIf="user"> <!-- ion-grid -->
			<div> <!-- ion-row -->
				<div> <!-- ion-col -->

					<form [formGroup]="editUserForm" class="form-col">

						<ng-template [ngIf]="authentication.user?.id == user.id || authentication.auths.UserEditor" [ngIfElse]="isNotOwner">
							<div lines="full"> <!-- ion-item -->
								<div formControlName="email" type="text" label="E-mail" labelPlacement="floating"></div> <!-- ion-input -->
							</div> <!-- ion-item -->
						</ng-template>
						<ng-template #isNotOwner>
							<div lines="full"> <!-- ion-item -->
								<div position="stacked">E-mail</div> <!-- ion-label -->
								<div>{{ user.email }}</div> <!-- ion-text -->
							</div> <!-- ion-item -->
						</ng-template>

						<ng-template [ngIf]="authentication.auths.AuthEditor">
							<div lines="full"> <!-- ion-item -->
								<div position="stacked">Rôle</div> <!-- ion-label -->

								<div > <!-- ion-select --> <!-- formControlName="roles" placeholder="Autorisations" labelPlacement="stacked" [multiple]="true" -->
									<div >Modifier n'importe quel Utilisateur</div> <!-- ion-select-option --> <!-- value="UserEditor" [disabled]="!authentication.auths.UserEditor" -->
									<div >Modifier des Autorisations</div> <!-- ion-select-option --> <!-- value="AuthEditor" [disabled]="!authentication.auths.AuthEditor" -->
									<div >Supprimer n'importe quel Utilisateur</div> <!-- ion-select-option --> <!-- value="UserDeleter" [disabled]="!authentication.auths.UserDeleter" -->
									<div >Ajouter des Chansons</div> <!-- ion-select-option --> <!-- value="SongCreator" [disabled]="!authentication.auths.SongCreator" -->
									<div >Modifier n'importe quelle Chanson</div> <!-- ion-select-option --> <!-- value="SongEditor" [disabled]="!authentication.auths.SongEditor" -->
									<div >Supprimer n'importe quelle Chanson</div> <!-- ion-select-option --> <!-- value="SongDeleter" [disabled]="!authentication.auths.SongDeleter" -->
									<div >Créer des Playlists</div> <!-- ion-select-option --> <!-- value="PlaylistCreator" [disabled]="!authentication.auths.PlaylistCreator" -->
									<div >Modifier n'importe quelle Playlist</div> <!-- ion-select-option --> <!-- value="PlaylistEditor" [disabled]="!authentication.auths.PlaylistEditor" -->
									<div >Supprimer n'importe quelle Playlist</div> <!-- ion-select-option --> <!-- value="PlaylistDeleter" [disabled]="!authentication.auths.PlaylistDeleter" -->
								</div> <!-- ion-select -->
							</div> <!-- ion-item -->
						</ng-template>


						<div> <!-- ion-grid -->

							<div *ngIf="authentication.user?.id == user.id"> <!-- ion-row -->
								<div> <!-- ion-col -->
									<div [routerLink]="['/users/password']" expand="block"> <!-- ion-button -->
										Modifier le Mot de Passe
									</div> <!-- ion-button -->
								</div> <!-- ion-col -->
							</div> <!-- ion-row -->

							<div *ngIf="authentication.user?.id == user.id || authentication.auths.UserEditor"> <!-- ion-row -->
								<div> <!-- ion-col -->
									<div (click)="onSubmit()" expand="block"> <!-- ion-button -->
										Sauvegarder
									</div> <!-- ion-button -->
								</div> <!-- ion-col -->
							</div> <!-- ion-row -->

							<div *ngIf="authentication.user?.id == user.id || authentication.auths.UserEditor"> <!-- ion-row -->
								<div> <!-- ion-col -->
									<div *ngIf="this.authentication.user?.id == user.id || this.authentication.auths.UserDeleter" (click)="delete()" color="danger" expand="block"> <!-- ion-button -->
										<div slot="start" name="trash-outline"></div> <!-- ion-icon -->
										Supprimer
									</div> <!-- ion-button -->
								</div> <!-- ion-col -->
							</div> <!-- ion-row -->

						</div> <!-- ion-grid -->

					</form>

				</div> <!-- ion-col -->
			</div> <!-- ion-row -->
		</div> <!-- ion-grid -->
	</div> <!-- ion-content -->

</ng-template>