<!-- <ng-template [ngIf]="this.authentication.user" [ngIfElse]="notAuthenticated" [fullscreen]="true">

	<ion-header>
		<ion-toolbar>
			<ion-title>
				Modifier le Mot de Passe
			</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-grid>
			<ion-row>

				<ion-col>
					<form [formGroup]="editUserForm" (submit)="onSubmit()" class="form-col">

						<ion-item lines="full">
							<ion-input formControlName="password" type="password" [clearOnEdit]="false" label="Mot de Passe" labelPlacement="floating" errorText="Mot de Passe invalide"></ion-input>
						</ion-item>

						<ion-item lines="full">
							<ion-input formControlName="passwordConfirm" type="password" [clearOnEdit]="false" label="Confirmer le Mot de Passe" labelPlacement="floating" errorText="Mot de Passe invalide"></ion-input>
						</ion-item>

						<ion-list>
							<ion-row>
								<ion-col>
									<ion-button type="submit" expand="block">
										Sauvegarder
									</ion-button>
								</ion-col>
							</ion-row>
						</ion-list>

					</form>
				</ion-col>

				<ion-col>
					<ion-list class="error-list">
						<ion-item class="block">
							<ion-text [color]="editUserForm.controls['password'].errors?.['PasswordNoUppercase'] ? 'danger' : 'success'" >Au moins une lettre majuscule.</ion-text>
						</ion-item>
						<ion-item class="block">
							<ion-text [color]="editUserForm.controls['password'].errors?.['PasswordNoLowercase'] ? 'danger' : 'success'" >Au moins une lettre minuscule.</ion-text>
						</ion-item>
						<ion-item class="block">
							<ion-text [color]="editUserForm.controls['password'].errors?.['PasswordNoDigit'] ? 'danger' : 'success'" >Au moins un chiffre.</ion-text>
						</ion-item>
						<ion-item class="block">
							<ion-text [color]="editUserForm.controls['password'].errors?.['PasswordNoSpecial'] ? 'danger' : 'success'" >Au moins un caractère spécial.</ion-text>
						</ion-item>
						<ion-item class="block">
							<ion-text [color]="editUserForm.controls['password'].errors?.['PasswordTooShort'] ? 'danger' : 'success'" >Une longueur d'au moins 8 caractères.</ion-text>
						</ion-item>
						<ion-item class="block">
							<ion-text [color]="editUserForm.errors?.['PasswordNoMatch'] ? 'danger' : 'success'" >Les deux Mots de Passe doivent correspondrent.</ion-text>
						</ion-item>
					</ion-list>
				</ion-col>

			</ion-row>
		</ion-grid>
	</ion-content>

</ng-template>
<ng-template #notAuthenticated>

</ng-template> -->