// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@use '@angular/material' as mat;
@use 'theme.scss' as theme;


@include mat.all-component-themes(theme.$SkyExplorer-theme);

:root {
	--mdc-filled-text-field-container-color: white;

	--mdc-protected-button-container-height: 40px;
	--mat-protected-button-horizontal-padding: 50px;
}

a {
	text-decoration: none;
	color: inherit;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 1.5px;
}

.col {
	display: flex;
	flex-direction: column;
	gap: 1.5px;
}


section {
	padding: 5vh 6vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

form.grid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 1rem;

	& .grid__container {
		display: grid;
		grid-auto-rows: minmax(70px, auto);
		grid-gap: 3px;
		width: 100%;

		& > * {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		& .grid__child {
			&--full-width {
				grid-column: 1 / -1;
				text-align: center;
			}

			&--full-height {
				grid-row: 1 / -1;
			}
		}
	}



}

mat-card-title {
	font-style: bold;
	font-family: "Russo One", sans-serif;
	margin:0.5rem;

}
mat-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 1rem;

}

mat-label {
	color: #24265A;
	font-size: 1rem;
	font-family: "Russo One", sans-serif;
	text-align: center;
}

mat-datepicker-toggle {
	color: get-color(accent, 500);
}

mat-form-field {
	& mat-hint {
		color: get-color(accent, 500);
	}
}

div.mat-mdc-menu-content {
	padding: initial;
}

.mat-mdc-text-field-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.1rem 0;
}

// mat-card-title > h1 {
// 	margin: 0;
// 	font-size: 2.5rem;
// 	color: #24265A;
// 	font-family: "Russo One", sans-serif;

// }

mat-label > p {
	display: flex;
	justify-content: center;

}

.line {
	width: 10rem;
	height: 0.5rem;
	background-color: #24265A;
	margin: 1rem 0;
}

.book-spread {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	&__page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
