// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@use '@angular/material' as mat;
@use 'theme.scss' as theme;


@include mat.all-component-themes(theme.$SkyExplorer-theme);

a {
	text-decoration: none;
	color: inherit;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 1.5px;
}

.col {
	display: flex;
	flex-direction: column;
	gap: 1.5px;
}


section {
	margin: 5vh 6vw;
}

form.grid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 1rem;

	& .grid__container {
		display: grid;
		grid-gap: 3px;
		width: 100%;

		& .grid__child {
			&--full-width {
				grid-column: 1 / -1;
			}

			&--full-height {
				grid-row: 1 / -1;
			}
		}
	}
}