
<section class="dashboard__content">
	<mat-card-title>Dashboard</mat-card-title>
	<div class="line"></div>

	<div class="grid__container">
		<mat-card class="upcoming-courses">
			<mat-card-title>Prochain Cours</mat-card-title>
			<div class="line"></div>

			<mat-card-content class="upcoming-courses__content">
				@for (course of upcomingCourses; track course) {
					<se-course [entity]="course" />
				}
			</mat-card-content>
		</mat-card>

		<mat-card class="title">
			<mat-card-title>Dashboard</mat-card-title>
			<div class="line"></div>
		</mat-card>

		<mat-card class="summary">
			<mat-card-title>Résumé</mat-card-title>
			<div class="line"></div>
		</mat-card>

		<mat-card class="fleet">
			<mat-card-title>Flotte Disponible</mat-card-title>
			<div class="line"></div>
		</mat-card>
	</div>
</section>
