@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import '../../../variables.scss';
// body {
// 	font-family: 'Poppins', sans-serif;
// 	font-weight: 300;
// 	line-height: 1.7;
// 	color: $primary;
// 	background-color: #0F0F0F;
// }


// :host .card-content {
// 	width: 400px;
// }

.authentication-card {
	position: absolute;
	right: 15vw;
	top: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
}


#toggle-labels {
	display: flex;
	justify-content: space-between;
	gap: 4rem;
	text-align: center;
	padding-bottom: 1rem;
	margin: 0;

	& ion-text {
		padding: 0 20px;
		font-weight: 700;
	}
}

#toggle-btn {
	display: none;

	& + label {
		position: relative;
		display: block;
		width: 60px;
		height: 16px;

		padding: 0;
		margin: 10px auto;
		text-align: center;
		border-radius: 8px;
		cursor: pointer;
		background-color: $primary;
	}

	& + label:before {
		position: absolute;
		display: block;
		top: -10px;
		left: -10px;
		width: 36px;
		height: 36px;

		border-radius: 50%;
		color: $primary-contrast;
		background-color: $primary;
		font-family: 'unicons';
		content: '\eb4f';
		line-height: 36px;
		text-align: center;
		font-size: 24px;
		transition: all 0.5s ease;
	}

	&:checked + label:before {
		transform: translateX(44px) rotate(-270deg);
	}

	&:checked ~ .card-3d-container .card-3d-wrapper {
		transform: rotateY(180deg);
	}
}

.card-3d-container {
	// position: absolute;
	width: 600px;
	max-width: 100%;
	height: 450px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: 800px;
	margin-top: 1rem;

	&, & * {
		z-index: -10;
	}
}
.card-3d-wrapper {
	width: 100%;
	height: 100%;
	// position: absolute;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: all 600ms ease-out;
}

.card-front, .card-back {
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 6px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.card-back {
	transform: rotateY(180deg);
}

.card-content {
	position: relative;
	top: 50%;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: calc(20px + 5px) calc(28px + 5px);
	transform: translate3d(0, -50%, 65px) perspective(100px);

	& > mat-card-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 3px;
		grid-auto-rows: minmax(100px, auto);
		width: 100%;

		& > .full-width {
			grid-column: 1 / -1;
		}
	}
}