<mat-sidenav-container autosize>
	<mat-sidenav id="sidenav" mode="side" opened>
		<div id="sidenav__content">
			<div id="sidenav__header">
				 <img src="../../../../assets/logo.png" alt="">
			</div>
			<mat-nav-list id="sidenav__links">
				<a mat-list-item routerLink="./dashboard" routerLinkActive="active">
					<span class="entry">
						<mat-icon>dashboard</mat-icon>
						<span>Dashboard</span>
					</span>
				</a>
				<a mat-list-item routerLink="./courses" routerLinkActive="active">
					<span class="entry">
						<mat-icon>school</mat-icon>
						<span>Cours</span>
					</span>
				</a>
				<a mat-list-item routerLink="./planes" routerLinkActive="active">
					<span class="entry">
						<mat-icon>flight</mat-icon>
						<span>Planes</span>
					</span>
				</a>
				<a mat-list-item routerLink="./flights" routerLinkActive="active">
					<span class="entry">
						<mat-icon>flight_takeoff</mat-icon>
						<span>Flights</span>
					</span>
				</a>
				<a mat-list-item routerLink="./bills" routerLinkActive="active">
					<span class="entry">
						<mat-icon>receipt</mat-icon>
						<span>Billings</span>
					</span>
				</a>
			</mat-nav-list>
			<se-account-menu id="sidenav__footer"/>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet />
	</mat-sidenav-content>
</mat-sidenav-container>