@import '../../../../variables.scss';

:host > mat-card {
	height: 100%;
	width: 100%;
}

.course {
	padding: 3px;
	justify-content: center;
	// height: 100%;
	// width: 100%;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// border-radius: 1rem;

	&, & * {
		color: get-color(primary, 500-contrast);
	}
}